<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>LoginPage</ion-title>
  </ion-toolbar>
</ion-header>
<!--arrumar front para validar login e senha-->
<ion-content [fullscreen]="true">
    <ion-list>
      <ion-item>
        <ion-icon name="mail" color="ifsp"></ion-icon>
        <ion-input name="mail" [(ngModel)]="email"></ion-input>
      </ion-item><br>

    <ion-item>
      <ion-icon name="lock-closed" color="ifsp"></ion-icon>
      <ion-input name="password" [(ngModel)]="password"></ion-input>
    </ion-item><br><br>

    <ion-button (click)="validate()" espands="block" fills="clear" color="ifsp">Entrar</ion-button>
  </ion-list>

</ion-content>